/** https://www.reddit.com/r/firefox/comments/726p8u/multirow_tabs_firefox_ignores_mozboxflex/dngb8qf/ 33 */
.tabbrowser-tab:not([pinned]) { flex-grow:1; min-width:150px; }
.tabbrowser-tab,.tab-background { height:20px; }
.tab-stack { width: 100%; }
#tabbrowser-tabs .scrollbox-innerbox { display: flex; flex-wrap: wrap; }
#tabbrowser-tabs .arrowscrollbox-scrollbox { overflow: visible; display: block; }
#main-window[sizemode=¡°maximized¡±] #TabsToolbar{ margin-left:var(¨Ctab-min-height); }
#tabbrowser-tabs .scrollbutton-up,#tabbrowser-tabs .scrollbutton-down,#alltabs-button,.tabbrowser-tab:not([fadein]){ display: none; }